/* ✅ under 877px */
@media (max-width: 877px) {
  .pc {
    display: none;
  }

  /* ✅ header 시작 */
  header {
    padding: 24px;
  }

  header .logo img {
    width: 106px;
    height: 26px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-container .bx-menu {
    background: #dc995c;
    width: 36px;
    height: 36px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 25px;
  }

  .header-container .menu-list {
    display: none;
  }
  .header-container .menu-list li {
    width: 140px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .login-wrapper {
    width: 160px;
    display: flex;
    font-size: 18px;
    gap: 12px;
  }

  .login-wrapper li:first-child {
    text-align: center;
  }
  .login-wrapper li:first-child button {
    background-color: #dc995c;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
  }
  .login-wrapper li:nth-child(2) {
    width: 38px;
  }
  .login-wrapper li:nth-child(2) button {
    height: 100%;
    background-color: #dc995c;
    padding: 10px 20px;
    border-radius: 30px;
  }
  .login-wrapper li:nth-child(2) i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
  }
  /* ✅ header 끝 */





  /* ✅ mainVisual 시작 */
  .main-visual-img {
    background-image: url("../../imgs/main-page/main-visual.png");
    height: 580px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    background-position: 30% 0;
  }
  .main-visual-keyword {
    position: absolute;
    width: 1860px;
  }
  .main-visual-container {
    position: relative;
  }
  .main-visual-container img {
    width: 1860px;
  }
  .main-visual-container p {
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    bottom: 24px;
    left: 54px;
  }
  .main-visual-container span {
    font-size: 14px;
  }
  /* ✅ mainVisual 끝 */






  /* ✅ mainSection 시작 */
  main .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .main-item {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
  }

  .main-item-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f7f7f7;
    padding-bottom: 28px;
  }
  .main-item-title span {
    font-weight: 700;
    font-size: 30px;
  }
  .main-item-title span button {
    color: #828282;
    font-size: 18px;
    background: #f7f7f7;
    padding: 10px 20px;
    border-radius: 30px;
  }

  .main-item-content ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f7f7f7;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .main-item-content ul li:nth-child(1) {
    color: #828282;
    font-size: 16px;
    width: 40px;
  }
  .main-item-content ul li:nth-child(2) {
    width: calc(100% - 90px);
    font-weight: 600;
  }
  .main-item-content ul li:nth-child(3) {
    color: #828282;
  }

  .main-item .gallery-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #f7f7f7;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 24px;
  }

  .main-item .gallery-title {
    border-bottom: none;
  }

  .gallery-item-content {
    display: flex;
  }
  .gallery-item-content img {
    width: 347px;
    border-radius: 10px;
  }
  .gallery-item-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .magallery-item-content ul p {
    font-size: 20px;
  }
  .gallery-item-content ul span {
    color: #828282;
    font-size: 16px;
  }
  /* ✅ mainSection 끝 */






  
  /* ✅ Carousel 시작 */
  .carousel {
    padding-top: 17px;
    height: 96px;
  }
  .carousel .carousel-overflow {
    overflow: hidden;
  }
  .carousel ul {
    display: flex;
    gap: 40px;
    animation: scroll 6s linear infinite;
  }
  .carousel ul img {
    width: 120px;
    height: 61px;
    object-fit: contain;
  }

  .carousel-track {
    display: flex;
    width: max-content;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-326px);
    }
  }

  /* ✅ Carousel 끝 */

  /* ✅ footer 시작 */
  footer {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 167px;
    background: #f7f7f7;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    color: #828282;
    gap: 10px;
  }
  /* ✅ footer 끝 */
}
