.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  min-height: 10vh;
  padding-top: 80px;
  font-weight: bold;
  font-size: 40px;
  color: #222222;

  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-menu ul {
  display: flex;
  gap: 24px;
  margin: 0;  
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E5E5E5;
}

.tab-menu li {
  padding: 8px 0 25px 0;
  cursor: pointer;
  color: #ACACAC;
  font-weight: 500;
}

.tab-menu li.active {
  color: #222;
  font-weight: bold;
}

.notion-table table {
  width: 100%;
  border-collapse: collapse;
}

.notion-table th, .notion-table td {
  padding: 14px 16px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.6;
  border-bottom: 1px solid #E5E5E5;
}

.notion-table td:nth-child(1),
.notion-table th:nth-child(1) {
  color: #828282;
}

.notion-table td:nth-child(3),
.notion-table th:nth-child(3) {
  text-align: right;
  color: #828282;
}

.notion-table th {
  font-weight: bold;
  background-color: #E5E5E5;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: fit-content;
  height: 36px;
  margin: 8px auto 140px;
}

.pagination button {
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #ACACAC;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
}

.pagination button.active {
  font-weight: bold;
  color: #222;
}
